/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

header {
  background-image: url(img/jumbo.png);
  color: white;
  background-size: cover;
}

/* # Navbar */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  
}

.navbar-menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

}
a{
  color: white;
  text-decoration: none;
}

.navbar-actions {
  text-align: right;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  
}
.signin{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
}


/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 60%;
  text-align: center;
}
h1{
  font-size: 50px;
  padding-bottom: 50px;
}
h3{
  font-size: normal;
  
}
.download{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  color: black;
  flex-wrap: wrap;
}
.browser{
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  color: white;
  flex-wrap: wrap;
}
.dw-browser{
  margin-top: 30px;
  justify-content: space-around;
  

}



/* # Main & sections */
section {
  padding: 100px;
  height: 600px;
}

section > .container {
  height: 100%;
}

.flex > .small-col {
  flex-basis: 40%;
  
}
h2{
  font-size: 50px;
  padding-bottom: 30px;
}

.flex > .large-col {
  flex-basis: 60%;
  
  
}
.invite{
  background-image: url(img/item1.svg);
  background-repeat: no-repeat;

}
.where{
  background-image: url(img/item2.svg);
  background-repeat: no-repeat;

}
.fandom{
  background-image: url(img/item3.svg);
  background-repeat: no-repeat;

}
.tech{
  text-align: center;
  padding: 30px;
  
}
.star{
  width: 500px;
  margin: auto;
  background-image: url(img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hg-big{
  height: 1100px;
}

.flex > .full-col {
  align-items: center;
 
}

.big-img{
  background-image: url(img/item4-big.svg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;

}
.last-dl{
  margin-top: 20px;
  
  justify-content: center;
}
.for-mac{
  background-color: #8FA1E1;
  border-radius: 50px;
  padding: 10px;
  color: white;
}

/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}
.footer-left > h2{
  color: #8FA1E1;
}
.brand{
  display: flex;
}
.brand > nav{
  padding: 10px;
}
.itaimg{
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid purple;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  
}

.footer-top .footer-right {
  flex-basis: 70%;
 
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}
h4{
  color: white;
  padding-bottom: 10px;
}

.color-blu{
  color: #8FA1E1;
}
.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.rg{
  background-color: #8FA1E1;
  border-radius: 50px;
  padding: 10px;
}

